<div>
  <h4><%= flash[:alert] %></h4>
  <% if cookies[:user_id].nil? %>
  <a href="/user/signup">회원가입</a> <a href="/user/login">로그인</a>
  <% else %>
  <a href="/user/logout">로그아웃</a>
  <a href="/user/delete_user/<%= cookies[:user_id] %>">회원탈퇴</a>
  <% end %>
</div>

<div style="background-color: #e9eaed; width: auto; font-size: 20px;">
  <h1>글 목록</h1>
  <% @posts.reverse.each do |post| %>	
  <div style="background-color: #ffffff; width: auto; border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
    <h3 style="color: blue;"><%= post.name %></h3>
    <h5><%= post.updated_at.localtime.in_time_zone('Seoul').strftime('%B %d, %Y at %H:%M') %></h5>
    <p><%= post.content %></p>
    <p style="font-size: 90%; text-align: right;">
      <% if cookies[:user_id].nil? 
         else %>
        <% current_user = User.find(cookies[:user_id])
          if current_user.username == post.name || current_user.username == "관리자" %>
        <a href="/wall/edit/<%= post.id%>">edit</a>
        <a href="/wall/delete/<%= post.id%>">delete</a>
        <% end %>
        <a href="/wall/write_comment/<%= post.id %>">comment</a>
      <% end %>
    </p>
    <% post.comments.each do |comment| %>
      <div style="background-color: #fafbfb; width: auto; border: 1px solid #d3d6db; padding: 0px 5px 0px 5px; word-break: break-all; text-align: left;">
        <p style="font-size: 90%; text-align: left;"><span style="color: #0000ff; font-weight: bold;"><%= comment.name %></span> <%= comment.content %></p>
        <p style="font-size: 90%; text-align: right;">
          <a href="/wall/edit_comment/<%= post.id %>&<%= comment.id%>">edit</a>
          <a href="/wall/delete_comment/<%= comment.id%>">delete</a>
      </div>
    <% end %>
  </div><br>
  <% end %>
  <a href="/wall/write/<%= cookies[:user_id] %>">글쓰러 가기</a>
</div>